<template name="gameSubmit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="message">Game suggestion</label>
        <div class="controls">
            <textarea name="message" type="text" value="" placeholder="When and where do you want to get a game?"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="" placeholder="Name your post"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
    </div>
  </form>
</template>