<template name="gameEdit">
  <form class="main">
    <div class="control-group">
        <label class="control-label" for="message">Game suggestion</label>
        <div class="controls">
            <textarea name="message" type="text" value="message" placeholder="When and where do you want to get a game?"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="title">Title</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" placeholder="Name
 your post"/>
        </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit" class="btn btn-primary submit"/>
      </div>
    </div>

    <hr/>
    
    <div class="control-group">
      <div class="controls">
        <a class="btn btn-danger delete" href="#">Delete game</a>
      </div>
    </div>
  </form>
</template>

